@font-face {
  font-family: 'Montserrat', sans-serif;
  src: local('Montserrat'), url(../fonts/Montserrat/Montserrat-Regular.ttf) format('ttf');
  src: local('Roboto Mono'), url(../fonts/Roboto_Mono/RobotoMono-Regular.ttf) format('ttf');
}

html.althash-extension-modal-wrap {
  height: 100%;
}

.althash-extension-modal-wrap body {
  position: relative;
  overflow: hidden;
}

.althash-extension-modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
}

.althash-extension-modal {
  position: absolute;
  z-index: 10000;
}
